CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_xiaomi_mir3g-v2=y
CONFIG_PACKAGE_6in4=y
CONFIG_PACKAGE_etherwake=m
CONFIG_PACKAGE_ip6tables=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_kmod-ipt-nat6=y
CONFIG_PACKAGE_kmod-iptunnel=y
CONFIG_PACKAGE_kmod-iptunnel4=y
CONFIG_PACKAGE_kmod-nf-nat6=y
CONFIG_PACKAGE_kmod-sit=y
CONFIG_PACKAGE_libcap=m
CONFIG_PACKAGE_libuuid=m
CONFIG_PACKAGE_libuv=m
CONFIG_PACKAGE_libwebsockets-full=m
CONFIG_PACKAGE_luci-app-arpbind=m
CONFIG_PACKAGE_luci-app-autoreboot=m
CONFIG_PACKAGE_luci-app-ddns=m
CONFIG_PACKAGE_luci-app-privoxy=m
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Xray=y
CONFIG_PACKAGE_luci-app-ttyd=m
CONFIG_PACKAGE_luci-app-uhttpd=m
CONFIG_PACKAGE_luci-app-upnp=m
CONFIG_PACKAGE_luci-app-vlmcsd=m
CONFIG_PACKAGE_luci-app-vsftpd=m
CONFIG_PACKAGE_luci-app-watchcat=m
CONFIG_PACKAGE_luci-app-webadmin=m
CONFIG_PACKAGE_luci-app-wifischedule=m
CONFIG_PACKAGE_luci-app-wol=m
CONFIG_PACKAGE_luci-i18n-arpbind-zh-cn=m
CONFIG_PACKAGE_luci-i18n-autoreboot-zh-cn=m
CONFIG_PACKAGE_luci-i18n-ddns-zh-cn=m
CONFIG_PACKAGE_luci-i18n-privoxy-zh-cn=m
CONFIG_PACKAGE_luci-i18n-ttyd-zh-cn=m
CONFIG_PACKAGE_luci-i18n-uhttpd-zh-cn=m
CONFIG_PACKAGE_luci-i18n-upnp-zh-cn=m
CONFIG_PACKAGE_luci-i18n-vlmcsd-zh-cn=m
CONFIG_PACKAGE_luci-i18n-vsftpd-zh-cn=m
CONFIG_PACKAGE_luci-i18n-watchcat-zh-cn=m
CONFIG_PACKAGE_luci-i18n-webadmin-zh-cn=m
CONFIG_PACKAGE_luci-i18n-wifischedule-zh-cn=m
CONFIG_PACKAGE_luci-i18n-wol-zh-cn=m
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_miniupnpd=m
CONFIG_PACKAGE_odhcp6c=y
CONFIG_PACKAGE_odhcp6c_ext_cer_id=0
CONFIG_PACKAGE_odhcpd-ipv6only=y
CONFIG_PACKAGE_odhcpd_ipv6only_ext_cer_id=0
CONFIG_PACKAGE_privoxy=m
CONFIG_PACKAGE_ttyd=m
CONFIG_PACKAGE_vlmcsd=m
CONFIG_PACKAGE_vsftpd-alt=m
CONFIG_PACKAGE_watchcat=m
CONFIG_PACKAGE_wifischedule=m
CONFIG_PACKAGE_wol=m
